html {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.box {
background-color: #1A2832;
border-radius: 3px;
max-width: 60%;
}

.pink {
    color: #C58592;
}

.yellow {
    color: #f4ce12;
}

.orange {
    color: #CBAB84;
}

.green  {
    color: #72C09F;
}

.blue {
    color: #199FFF;
}

.renglon-1 {
position: relative;
left: 30px;
}

.rare {
color: #3D8287;
}

.other-pink{
    color: #D570D3;
}

.renglon-2{

position: relative;
left: 55px;
top: 9px;


}

.renglon-3{

    position: relative;
    top: 30px;
   left: 9px; 
    
}

.parce{
font-family: 'Courier New', Courier, monospace;
color: red;
}

.box-2 {
    height: 100px;
    max-width: 45%;
    background-color: #1A2832;
    border-radius: 3px;
    position: relative;
    left: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
